@CHARSET "ISO-8859-1";
html {
    
}

body {
    background-color:#004755;
    margin: 0px;
    
}

.main{
	min-height: 1000px;
	margin: 50px auto;
	width: 50%;
	background-color: white;
	text-align: center;
}

.transparent {
    height: 4em;
    padding-top: 2em;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background: black;
    border-top: 3px solid #ccc;
    margin-top: 5.0em;
}
#ontop {
	position: relative;
	top: 5.0em;
	margin-bottom: -4em;
	font-size: 110%;
	color: #666666;
}